
<router-outlet></router-outlet>
<div class="container">
    
<div class="page-layout">
    <h1 _ngcontent-hhx-c141="">Landscape/Seascape Project Map</h1>
    <p _ngcontent-hhx-c141=""> If you are a nonprofit that is implementing a place-based project and you believe it will meet the core criteria outlined below, please complete the below intake form and the project will be reviewed for inclusion. If you are a supplier participating in a project that you would like to see included, please have the implementing organization submit the intake form for review. </p>
    <h1>Intake Form for Landscape/Seascape Project Map</h1>

<dynamic-form [config]="detailsForm"></dynamic-form>
</div>
</div>